{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ (post ? 'backend.posts.edit' : 'backend.posts.create')|trans }} - {{ 'backend.nav.posts'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: (post ? 'backend.posts.edit' : 'backend.posts.create')|trans,
        crumbs: [
            {label: 'backend.nav.sections.editorial'|trans},
            {label: 'backend.nav.posts'|trans, href: path('backend_posts')},
            {label: (post ? 'backend.posts.edit' : 'backend.posts.create')|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('editorial/backend/posts/PostEditor', {
    post: post,
    postTypes: postTypes,
    taxonomies: taxonomies,
    locales: locales,
    showPath: path('backend_posts_show', {id: '__id__'}),
    createPath: path('backend_posts_create'),
    updatePath: path('backend_posts_update', {id: '__id__'}),
    previewPath: path('backend_posts_preview', {id: '__id__', locale: '__locale__'}),
    backPath: path('backend_posts'),
    editPath: path('backend_posts_edit', {id: '__id__'}),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
