{% extends '@Shared/email/layout/base.html.twig' %}

{% block content %}
<h1>{{ 'editorial.mail.comment.pending_heading'|trans }}</h1>
<p>{{ 'editorial.mail.comment.pending_intro'|trans({'{name}': comment.authorName}) }}</p>

<table class="panel" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td class="panel-content">
            <p style="margin:0 0 6px;"><strong>{{ 'editorial.mail.comment.author'|trans }} :</strong> {{ comment.authorName }} &lt;{{ comment.authorEmail }}&gt;</p>
            <p style="margin:0;"><em>{{ comment.content|nl2br }}</em></p>
        </td>
    </tr>
</table>

{{ include('@Shared/email/partials/action_button.html.twig', {
    url: moderationUrl,
    label: 'editorial.mail.comment.cta_moderate'|trans,
}) }}
{% endblock %}
