{% extends '@Shared/email/layout/base.html.twig' %}

{% block content %}
<h1>{{ 'editorial.mail.comment.approved_heading'|trans }}</h1>
<p>{{ 'editorial.mail.comment.approved_intro'|trans({'{author}': author.name}) }}</p>

<table class="panel" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td class="panel-content">
            <p style="margin:0 0 6px;"><strong>{{ 'editorial.mail.comment.from'|trans }} :</strong> {{ comment.authorName }}</p>
            <p style="margin:0;"><em>{{ comment.content|nl2br }}</em></p>
        </td>
    </tr>
</table>
{% endblock %}
